html, body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	height: 100%;
}

body {
	align-items: center;
	/* background-image: linear-gradient(rgba(255,255,255,0.55),rgba(255,255,255,0.55)), url('images/white.jpg'); */
	background-color: #f5fafa;
	background-size: contain; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

h1, h2 {
	font-family: 'Kalam', sans-serif;
}

h1 {
	font-size: 80px;
	margin: 0px;
	padding: 0px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 35px;
}

#bar {
	overflow: hidden;
	background-color: #525454;
}

.sticky {
 	position: fixed;
  	top: 0;
  	width: 100%;
  	padding-bottom: 42px;
}

#nav {
	/*display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;*/
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;	
}

.nav_options {
	padding: 10px;
	float: right;
	letter-spacing: 1px;
}

.nav_options:hover {
	background-color: #F08080;
}

.active {
	background-color: #F08080;
}

#nav li a {
	color: white;
}

.logo {
	padding: 10px;
	float: left;
}

.welcome, #about_me {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: black;
	border-style: none;
}

.more_info {
	width: 900px;
	text-align: justify;
}

#contact, #projects {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	border-style: none;
}

.welcome {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url('images/view.gif');
	background-attachment: fixed;
	background-size: cover; 
	/*color: #fff;*/
}

.wrapper {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.left, .right {
	margin: 30px;
	margin-left: 150px;
}

.profile_picture {
	border-radius: 50%;
}

.left {
	display: flex;
	flex-direction: column;
}

.resume {
	padding-top: 15px;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
}

.right {
	max-width: 500px;
	text-align: left;
}

ul {
	display: block;
  	list-style: none;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	text-align: left;
	width: 700px;
}

.project_title {
	font-size: 1.3em;
}

.project_date {
	float: right;
}

.fa {
	color: black;
}

.links {
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 20px 20px;
	/*transition: 0.6s;*/
}

.logo {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

header .logo {
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*transition: 0.6s;*/
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 20px;
	margin: 0;
	padding: 0;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 500px;
	padding: 0px;
	/*transition: 0.6s;*/
}






