body {
	margin: 0;
	align-items: center;
	/* background-image: linear-gradient(rgba(255,255,255,0.55),rgba(255,255,255,0.55)), url('images/white.jpg'); */
	background-color: #f5fafa;
	background-size: contain; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

h1, h2 {
	font-family: 'Kalam', sans-serif;
}

h1 {
	font-size: 80px;
}

strong {
	font-size: 1.3em;
}

h2 {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 35px;
}

#bar {
	overflow: hidden;
	background-color: #525454;
}

.sticky {
 	position: fixed;
  	top: 0;
  	width: 100%;
}

#nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#nav li {
	padding: 10px;
}

#nav li:hover {
	background-color: #C6E9FF;
}

#nav li a {
	color: white;
}

.welcome, #about_me {
	text-align: center;
	align-items: center;
	justify-content: center;
	color: black;
	border-style: none none outset none;
}

#contact, #projects {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	border-style: none none outset none;
}

.welcome {
	display: flex;
	height: 650px;
	background-image: url('images/view.gif');
	background-attachment: fixed;
	background-size: cover; 
}

.wrapper {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.left, .right {
	margin: 30px;
	margin-left: 70px;
}

.profile_picture {
	border-radius: 50%;
}

.left {
	display: flex;
	flex-direction: column;
}

.resume {
	padding-top: 15px;
	font-style: italic;
	text-decoration: underline;
	font-size: 1.2em;
}

.right {
	max-width: 500px;
	text-align: left;
}

ul {
	display: block;
  	list-style: none;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	text-align: left;
	width: 700px;
}

.fa {
	color: black;
}

.links {
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}